venv/
__pycache__/
*.pyc

.DS_Store
.env
.idea/
.vscode/
*.log
node_modules/
dist/
build/
*.sqlite3
*.db
*.bak
*.swp
*.tmp
*.out
*.class
*.jar
*.war
*.iml
*.exe   
*.dll
*.so
coverage/
*.egg-info/
.eggs/
pip-wheel-metadata/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.pyre/

migrations/
instance/
celerybeat-schedule
celerybeat.pid
*.pid
*.seed
*.pid.lock
*.log
*.pot
*.mo
*.logs
*.orig