apiVersion: apps/v1
kind: Deployment
metadata:
  name: converter-app-deployment
  labels:
    app: myapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
      - name: myapp-container
        image: jubair2002/multiconverter-app:v1
        ports:
        - containerPort: 5000
